In [1]:
# Header block to include all modules that must be imported ahead of time
# Only needs to be run once per session, and each time a new module is added

import requests
from bs4 import BeautifulSoup
import json
import pandas as pd # this will need to be installed via command line first
import lxml # this will need to be installed via command line first(as well)

In [24]:
# Method to get the salary cap hits for every player currently signed on an NFL team

def GetTeamSalaryCapHits(team):
    # Use requests to get the raw HTML response
    OTCResponse = requests.get(f'https://overthecap.com/salary-cap/{team[:-4]}')
        
    # If we get a normal response proceed with data scraping
    if OTCResponse.status_code == 200:
        print(f"Request succeeded with status code {OTCResponse.status_code}")
        TeamNameCaptalized = (team[:-4].replace("-", " ")).title()
        print(f"Here are the Salary Cap hits for all players who are currently signed with the {TeamNameCaptalized}:")

        # Pandas read_html method allows the table contents to be put into a DataFrame
        table_tag = 'salary-cap-table contracted-players'
        DataFrames = pd.read_html(OTCResponse.content, attrs={'class': table_tag})
        #print(DataFrames[0])
        print(DataFrames[0].head()[['Player', 'Base Salary']])

        # Then the first DataFrame can be converted to a list of dictionaries for each row
        SalaryTable = DataFrames[0].to_dict('records') # using records attribute turns each row into a dictionary
        
        # The 52nd element in the list of dicitionaries is a placeholder for the Top 51 cutoff
        if len(SalaryTable) > 52:
            # Delete the 52nd element of the Salary Table if the team has at least 51 players signed
            del SalaryTable[51]

        # Create a list to store salary data
        SalaryPlayerList = []
        """
        # Populate list with lists that include playname and salary cap hit
        for player in SalaryTable:
            #Key into the dictionary and get player name and cap hit 
            PlayerCapHit = [player[('Player', 'Player')], player[('Cap Number', 'Cap Number')]]
            SalaryPlayerList.append(PlayerCapHit)

        print(SalaryPlayerList)
        """

    # If we don't get a normal reponse, stop scraping
    else:
        print(f"Request failed with status code {OTCResponse.status_code}")
        return -1

In [25]:
# A list of links to Over The Cap Salary Cap pages for various teams
NFLTeams = ['buffalo-bills BUF', 'miami-dolphins MIA', 'new-england-patriots NE0', 'new-york-jets NYJ',
            'baltimore-ravens BAL', 'cincinnati-bengals CIN', 'cleveland-browns CLE', 'pittsburgh-steelers PIT',
            'houston-texans HOU', 'indianapolis-colts IND', 'jacksonville-jaguars JAX', 'tennessee-titans TEN', 
            'denver-broncos DEN', 'kansas-city-chiefs KC0', 'las-vegas-raiders LV0', 'los-angeles-chargers LAC',
            'dallas-cowboys DAL', 'new-york-giants NYG', 'philadelphia-eagles PHI', 'washington-commanders WSH',
            'chicago-bears CHI', 'detroit-lions DET', 'green-bay-packers GB0', 'minnesota-vikings MIN',
            'atlanta-falcons ATL', 'carolina-panthers CAR', 'new-orleans-saints NO0', 'tampa-bay-buccaneers TB0',
            'arizona-cardinals ARI', 'los-angeles-rams LAR', 'san-francisco-49ers SF0', 'seattle-seahawks SEA'
           ]

# Call the method defined above to get all the player data
def GetAllTeamSalaryCapHits(TeamList):
    for team in TeamList:
        GetTeamSalaryCapHits(team)
GetTeamSalaryCapHits('buffalo-bills BUF')
# GetAllTeamSalaryCapHits(NFLTeams)

Request succeeded with status code 200
Here are the Salary Cap hits for all players who are currently signed with the Buffalo Bills:
               Player    Base Salary Prorated Bonus   Roster Bonus
               Player    Base Salary Prorated Bonus        Regular
0          Josh Allen     $1,080,000    $17,056,281             $0  \
1        Stefon Diggs     $1,165,000    $13,205,111             $0
2         Mitch Morse     $6,640,000     $3,000,000     $1,000,000
3        Dion Dawkins     $3,671,667     $6,309,833       $500,000
4          Micah Hyde     $5,300,000     $3,636,000     $1,500,000
5          Von Miller     $1,300,000     $6,374,000             $0
6       Taron Johnson     $1,080,000     $4,712,500       $500,000
7           Ed Oliver     $2,028,000     $2,950,000             $0
8        Jordan Poyer     $2,240,000     $2,000,000             $0
9          Tim Settle     $2,108,000     $1,350,000       $350,000
10    Connor McGovern     $1,900,000     $2,000,000             $0
11       Deonte Harty     $2,000,000     $1,644,500             $0
12         Siran Neal     $1,940,000       $533,333       $400,000
13   Gregory Rousseau     $1,715,290     $1,450,580             $0
14      Gabriel Davis     $2,743,000       $174,843             $0
15    Jordan Phillips     $1,805,000       $500,000             $0
16      Leonard Floyd     $1,165,000     $1,458,750             $0
17         Ryan Bates     $1,080,000     $1,439,000             $0
18     Dalton Kincaid       $750,000     $1,691,280             $0
19         Poona Ford     $1,500,000       $750,000             $0
20         Tyler Bass     $1,010,000     $1,066,056             $0
21     Reggie Gilliam     $1,600,000       $333,333             $0
22       Dane Jackson     $2,010,000     $1,000,000             $0
23       Tyrel Dodson     $1,010,000     $1,000,000             $0
24       A.J. Epenesa     $1,336,450       $458,601             $0
25   Tyler Matakevich     $1,165,000       $667,500             $0
26    Trent Sherfield     $1,420,000       $300,000             $0
27      David Edwards     $1,120,000       $600,000             $0
28        Taylor Rapp     $1,080,000       $650,000             $0
29         Sam Martin     $1,165,000       $400,000             $0
30      Linval Joseph     $1,620,000       $627,778             $0
31         James Cook       $970,094       $355,375             $0
32      Spencer Brown     $1,069,518       $219,036             $0
33      Cameron Lewis     $1,010,000       $125,000             $0
34     Terrel Bernard       $908,312       $228,248             $0
35   O'Cyrus Torrence       $750,000       $381,087             $0
36        Shaq Lawson     $1,165,000       $152,500             $0
37    Latavius Murray     $1,165,000       $152,500             $0
38         Kyle Allen     $1,080,000       $100,000             $0
39      Reid Ferguson     $1,080,000         $2,500             $0
40       Damar Hamlin       $940,000        $40,119             $0
41    Dorian Williams       $750,000       $228,692             $0
42      Khalil Shakir       $870,000        $86,788             $0
43      Germain Ifedi     $1,165,000             $0             $0
44  Christian Benford       $870,000        $48,570             $0
45  Kingsley Jonathan       $870,000         $1,750             $0
46     Quintin Morris       $870,000             $0             $0
47      Rasul Douglas     $1,080,000             $0             $0
48     Baylon Spector       $870,000        $25,932             $0
49    Ryan Van Demark       $750,000         $4,500             $0
50      Alec Anderson       $750,000         $4,250             $0
51      Top 51 Cutoff  Top 51 Cutoff  Top 51 Cutoff  Top 51 Cutoff
52         A.J. Klein     $1,165,000             $0             $0
53         Ty Johnson     $1,080,000             $0             $0

                   Workout Bonus    Other Bonus Unnamed: 7_level_0
         Per Game  Workout Bonus    Other Bonus Unnamed: 7_level_1
0              $0       $500,000             $0                NaN  \
1        $255,000       $250,000             $0                NaN
2        $510,000       $100,000       $200,000                NaN
3        $250,000       $250,000             $0                NaN
4        $300,000       $100,000             $0                NaN
5        $255,000       $100,000             $0                NaN
6        $595,000       $150,000             $0                NaN
7              $0             $0             $0                NaN
8        $510,000       $250,000             $0                NaN
9        $442,000       $100,000             $0                NaN
10             $0       $100,000             $0                NaN
11       $629,000       $250,000             $0                NaN
12       $340,000       $100,000             $0                NaN
13             $0             $0             $0                NaN
14             $0             $0             $0                NaN
15       $595,000       $100,000             $0                NaN
16             $0             $0             $0                NaN
17             $0       $100,000             $0                NaN
18             $0             $0             $0                NaN
19             $0             $0             $0                NaN
20             $0             $0             $0                NaN
21        $51,000        $50,000             $0                NaN
22             $0             $0             $0                NaN
23             $0             $0             $0                NaN
24             $0        $75,000             $0                NaN
25             $0             $0             $0                NaN
26             $0        $50,000             $0                NaN
27             $0        $50,000             $0                NaN
28             $0        $40,000             $0                NaN
29        $51,000        $49,000             $0                NaN
30       $312,500             $0             $0                NaN
31             $0             $0             $0                NaN
32             $0        $30,000             $0                NaN
33             $0        $50,000             $0                NaN
34             $0        $30,000             $0                NaN
35             $0             $0             $0                NaN
36             $0             $0             $0                NaN
37             $0             $0             $0                NaN
38             $0        $52,500             $0                NaN
39             $0             $0             $0                NaN
40             $0             $0             $0                NaN
41             $0             $0             $0                NaN
42             $0             $0             $0                NaN
43             $0             $0             $0                NaN
44             $0             $0             $0                NaN
45             $0             $0             $0                NaN
46             $0             $0             $0                NaN
47       $450,000             $0             $0                NaN
48             $0             $0             $0                NaN
49             $0             $0             $0                NaN
50             $0             $0             $0                NaN
51  Top 51 Cutoff  Top 51 Cutoff  Top 51 Cutoff      Top 51 Cutoff
52             $0             $0             $0                NaN
53             $0             $0             $0                NaN

   Guaranteed Salary Unnamed: 9_level_0     Cap Number Unnamed: 11_level_0
   Guaranteed Salary Unnamed: 9_level_1     Cap Number Unnamed: 11_level_1
0         $1,080,000                NaN    $18,636,281                 NaN  \
1         $1,165,000                NaN    $14,875,111                 NaN
2         $2,360,000                NaN    $11,360,000                 NaN
3           $500,000                NaN    $10,966,794                 NaN
4         $1,500,000                NaN    $10,571,294                 NaN
5         $1,300,000                NaN     $7,939,000                 NaN
6         $1,580,000                NaN     $7,037,500                 NaN
7         $2,028,000                NaN     $4,978,000                 NaN
8         $2,240,000                NaN     $4,880,000                 NaN
9         $2,458,000                NaN     $4,324,000                 NaN
10        $1,900,000                NaN     $4,000,000                 NaN
11        $2,000,000                NaN     $3,984,500                 NaN
12          $400,000                NaN     $3,313,333                 NaN
13        $1,715,290                NaN     $3,165,870                 NaN
14                $0                NaN     $2,917,843                 NaN
15          $720,000                NaN     $2,860,000                 NaN
16        $1,165,000                NaN     $2,623,750                 NaN
17        $1,080,000                NaN     $2,619,000                 NaN
18          $750,000                NaN     $2,441,280                 NaN
19          $750,000                NaN     $2,250,000                 NaN
20        $1,010,000                NaN     $2,076,056                 NaN
21          $405,000                NaN     $2,031,333                 NaN
22        $1,010,000                NaN     $2,010,000                 NaN
23        $1,010,000                NaN     $2,010,000                 NaN
24                $0                NaN     $1,870,051                 NaN
25        $1,165,000                NaN     $1,832,500                 NaN
26          $450,000                NaN     $1,770,000                 NaN
27        $1,120,000                NaN     $1,770,000                 NaN
28        $1,000,000                NaN     $1,770,000                 NaN
29        $1,165,000                NaN     $1,665,000                 NaN
30          $900,000                NaN     $1,527,778                 NaN
31          $970,094                NaN     $1,325,469                 NaN
32                $0                NaN     $1,318,554                 NaN
33          $225,000                NaN     $1,185,000                 NaN
34                $0                NaN     $1,166,560                 NaN
35          $750,000                NaN     $1,131,087                 NaN
36          $300,000                NaN     $1,092,500                 NaN
37          $650,000                NaN     $1,092,500                 NaN
38          $250,000                NaN     $1,092,500                 NaN
39                $0                NaN     $1,082,500                 NaN
40                $0                NaN       $980,119                 NaN
41                $0                NaN       $978,692                 NaN
42                $0                NaN       $956,788                 NaN
43                $0                NaN       $940,000                 NaN
44                $0                NaN       $918,570                 NaN
45                $0                NaN       $871,750                 NaN
46                $0                NaN       $870,000                 NaN
47          $600,000                NaN       $864,706                 NaN
48                $0                NaN       $786,210                 NaN
49                $0                NaN       $754,500                 NaN
50                $0                NaN       $754,250                 NaN
51     Top 51 Cutoff      Top 51 Cutoff  Top 51 Cutoff       Top 51 Cutoff
52                $0                NaN       $678,889                 NaN
53                $0                NaN       $626,667                 NaN

   Dead Money & Cap Savings Cut (pre-June 1)Cut (post-June 1)Trade (pre-June 1)Trade (post-June 1)RestructureExtension
   Dead Money & Cap Savings Cut (pre-June 1)Cut (post-June 1)Trade (pre-June 1)Trade (post-June 1)RestructureExtension
0                                                 NaN                                                                   \
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                      Top 51 Cutoff
52                                                NaN
53                                                NaN


   Dead Money & Cap Savings Cut (pre-June 1)Cut (post-June 1)Trade (pre-June 1)Trade (post-June 1)RestructureExtension.1
0                                                 NaN                                                                     \
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN
50                                                NaN
51                                      Top 51 Cutoff
52                                                NaN
53                                                NaN


   Dead Money & Cap Savings Cut (pre-June 1)Cut (post-June 1)Trade (pre-June 1)Trade (post-June 1)RestructureExtension.2
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN